<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>

    select {

        width: 190px;

        margin: 10px;

    }

    select:focus {

        min-width: 150px;

        width: auto;

    }   
	
	div.login {text-align: center}
	
	div{margin: 30px;}

</style>
</head>

<body style="background-image: url(https://www.fda.gov/files/styles/featured_content_background_image/public/FoodProductsCOVID19_1600x900_0.jpg?itok=b1maF8cv);">

    
	
 <div class="login" >
	<h1><font color="red">Predict Salary Analysis</font></h1>
<br>
    <form action="{{ url_for('predict') }}" method="POST">
	 <label for="cars" style ="font-weight: 900;"><font color="white">Choose a car:</font></label>

<!--	<form class = "ey" method="POST" action="{{ url_for('submitForm') }}">           note action -->
    <select name="select1"> <!-- note the name -->
        <option value="None">Select Course</option>
        <option value="CS">Computer Science</option>
        <option value="Civil">Civil</option>
        <option value="DS">Data Science</option>
        <option value="Electrical">Electrical</option>
        <option value="Electronics">Electronics</option>
        <option value="Chem">Chemical</option>
        <option value="ME">Mechatronics</option>
    </select>
	 <br>
	<button type="submit" class="btn btn-primary btn-block btn-large" style ="font-weight: 900;">Predict</button>
    </form>
<!---
	<form class="form-inline" method="POST" action="{{ url_for('test') }}">
	<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon">Please select</span>
			<select name="comp_select" class="selectpicker form-control">
			  {% for o in data %}
			  <option value="{{ o.name }}">{{ o.name }}</option>
			  {% endfor %}
			</select>
	</div>
	<button type="submit" class="btn btn-default">Go</button>
	</div>
	</form>
	 --->
   <br>
   <br>

 </div>




</body>
</html>
